# Домашнее задание «Функции и работа с данными»

In [2]:
import pandas as pd

## №1

In [101]:
# толком не понял задание, сделал как понял

ratings = (
    pd.read_csv('ml-latest-small/ratings.csv')
        .groupby(['movieId'])
        .agg({'rating': 'mean'})
        .reset_index()
)

def get_class(rating):
    try:
        if rating <= 2:
            return 'low'
        elif rating <= 4:
            return 'mid'
        else:
            return 'high'
    except:
        return 'n/a'

movies = (
    pd.read_csv('ml-latest-small/movies.csv')
        .merge(ratings, on='movieId', how='left')
)

movies['class'] = movies['rating'].apply(get_class)

movies.sort_values('rating', ascending=False).head()

,movieId,title,genres,rating,class
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,5.0,high
7321,71180,Padre padrone (1977),Drama,5.0,high
6651,51471,Amazing Grace (2006),Drama|Romance,5.0,high
6684,52617,Woman on the Beach (Haebyeonui yeoin) (2006),Comedy|Drama,5.0,high
6726,53887,O Lucky Man! (1973),Comedy|Drama|Fantasy|Musical,5.0,high

# №2

In [55]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def get_region(keyword):
    for region, cities in geo_data.items():
        for city in cities:
            if city in keyword:
                return region
            else:
                return 'undefined'

keywords = pd.read_csv('ml-latest-small/keywords.csv')

keywords['region'] = keywords['keyword'].apply(get_region)

keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

# №3

In [109]:
def get_production_year(title):
    for year in range(1950, 2020):
        if str(year) in title:
            return year

    return 1990

movies['year'] = movies['title'].apply(get_production_year)

movies.groupby(['year']).agg({'rating': 'mean'}).sort_values('rating', ascending=False).head()

        rating
year
1951  3.906653
1952  3.802318
1962  3.772962
1953  3.738878
1957  3.693322